{{define "form/client"}}
<a-form
    layout="horizontal"
    v-if="client"
    :colon="false"
    :label-col="{ md: {span:8} }"
    :wrapper-col="{ md: {span:14} }"
>
    <a-form-item label='{{ i18n "pages.inbounds.enable" }}'>
        <a-switch v-model="client.enable"></a-switch>
    </a-form-item>
    <a-form-item>
        <template slot="label">
            <a-tooltip>
                <template slot="title">
                    <span>{{ i18n "pages.inbounds.emailDesc" }}</span>
                </template>
                {{ i18n "pages.inbounds.email" }}
                <a-icon
                    type="sync"
                    @click="client.email = RandomUtil.randomLowerAndNum(9)"
                ></a-icon>
            </a-tooltip>
        </template>
        <a-input v-model.trim="client.email"></a-input>
    </a-form-item>
    <a-form-item
        v-if="inbound.protocol === Protocols.L2TP || inbound.protocol === Protocols.PPTP || inbound.protocol === Protocols.OPENVPN || inbound.protocol === Protocols.OPENCONNECT || inbound.protocol === Protocols.SSTP || inbound.protocol === Protocols.SSH || (inbound.protocol === Protocols.IKEV2 && inbound.settings.authMode !== 'eap-tls' && inbound.settings.authMode !== 'psk')"
    >
        <template slot="label">
            <a-tooltip>
                <template slot="title">
                    <span>{{ i18n "reset" }}</span>
                </template>
                Username
                <a-icon
                    @click="client.id = RandomUtil.randomLowerAndNum(8)"
                    type="sync"
                ></a-icon>
            </a-tooltip>
        </template>
        <a-input v-model.trim="client.id"></a-input>
    </a-form-item>
    <!-- MTProto authenticates on a 32-hex secret, not a password: it is the whole
         credential and it is what the tg:// link carries. -->
    <a-form-item v-if="inbound.protocol === Protocols.MTPROTO">
        <template slot="label">
            <a-tooltip>
                <template slot="title">
                    <span>{{ i18n "reset" }}</span>
                </template>
                Secret
                <a-icon
                    @click="client.secret = RandomUtil.randomSeq(32, { type: 'hex' })"
                    type="sync"
                ></a-icon>
            </a-tooltip>
        </template>
        <a-input v-model.trim="client.secret"></a-input>
    </a-form-item>
    <a-form-item
        v-if="inbound.protocol === Protocols.TROJAN || inbound.protocol === Protocols.SHADOWSOCKS || inbound.protocol === Protocols.L2TP || inbound.protocol === Protocols.PPTP || inbound.protocol === Protocols.OPENVPN || inbound.protocol === Protocols.OPENCONNECT || inbound.protocol === Protocols.SSTP || inbound.protocol === Protocols.SSH || (inbound.protocol === Protocols.IKEV2 && inbound.settings.authMode !== 'eap-tls' && inbound.settings.authMode !== 'psk')"
    >
        <template slot="label">
            <a-tooltip>
                <template slot="title">
                    <span>{{ i18n "reset" }}</span>
                </template>
                {{ i18n "password" }}
                <a-icon
                    v-if="inbound.protocol === Protocols.SHADOWSOCKS"
                    @click="client.password = RandomUtil.randomShadowsocksPassword(inbound.settings.method)"
                    type="sync"
                ></a-icon>
                <a-icon
                    v-if="inbound.protocol === Protocols.TROJAN || inbound.protocol === Protocols.L2TP || inbound.protocol === Protocols.PPTP || inbound.protocol === Protocols.OPENVPN || inbound.protocol === Protocols.OPENCONNECT || inbound.protocol === Protocols.SSTP || inbound.protocol === Protocols.IKEV2 || inbound.protocol === Protocols.SSH"
                    @click="client.password = RandomUtil.randomSeq(10)"
                    type="sync"
                >
                </a-icon>
            </a-tooltip>
        </template>
        <a-input v-model.trim="client.password"></a-input>
    </a-form-item>
    <a-form-item v-if="inbound.protocol === Protocols.HYSTERIA">
        <template slot="label">
            <a-tooltip>
                <template slot="title">
                    <span>{{ i18n "reset" }}</span>
                </template>
                Auth Password
                <a-icon
                    @click="client.auth = RandomUtil.randomSeq(10)"
                    type="sync"
                ></a-icon>
            </a-tooltip>
        </template>
        <a-input v-model.trim="client.auth"></a-input>
    </a-form-item>
    <a-form-item
        v-if="inbound.protocol === Protocols.VMESS || inbound.protocol === Protocols.VLESS"
    >
        <template slot="label">
            <a-tooltip>
                <template slot="title">
                    <span>{{ i18n "reset" }}</span>
                </template>
                ID
                <a-icon
                    @click="client.id = RandomUtil.randomUUID()"
                    type="sync"
                ></a-icon>
            </a-tooltip>
        </template>
        <a-input v-model.trim="client.id"></a-input>
    </a-form-item>
    <a-form-item
        v-if="inbound.protocol === Protocols.VMESS"
        label='{{ i18n "security" }}'
    >
        <a-select
            v-model="client.security"
            :dropdown-class-name="themeSwitcher.currentTheme"
        >
            <a-select-option v-for="key in USERS_SECURITY" :value="key"
                >[[ key ]]</a-select-option
            >
        </a-select>
    </a-form-item>
    <a-form-item v-if="client.email && app.subSettings?.enable">
        <template slot="label">
            <a-tooltip>
                <template slot="title">
                    <span>{{ i18n "pages.inbounds.subscriptionDesc" }}</span>
                </template>
                Subscription
                <a-icon
                    @click="client.subId = RandomUtil.randomLowerAndNum(16)"
                    type="sync"
                ></a-icon>
            </a-tooltip>
        </template>
        <a-input v-model.trim="client.subId"></a-input>
    </a-form-item>
    <a-form-item v-if="client.email && app.tgBotEnable">
        <template slot="label">
            <a-tooltip>
                <template slot="title">
                    <span>{{ i18n "pages.inbounds.telegramDesc" }}</span>
                </template>
                Telegram ChatID
                <a-icon type="question-circle"></a-icon>
            </a-tooltip>
        </template>
        <a-input-number
            :style="{ width: '50%' }"
            v-model.number="client.tgId"
            min="0"
        ></a-input-number>
    </a-form-item>
    <a-form-item v-if="client.email" label='{{ i18n "comment" }}'>
        <a-input v-model.trim="client.comment"></a-input>
    </a-form-item>
    <a-form-item v-if="app.ipLimitEnable">
        <template slot="label">
            <a-tooltip>
                <template slot="title">
                    <span>{{ i18n "pages.inbounds.IPLimitDesc"}}</span>
                </template>
                <span>{{ i18n "pages.inbounds.IPLimit"}} </span>
                <a-icon type="question-circle"></a-icon>
            </a-tooltip>
        </template>
        <a-input-number
            v-model.number="client.limitIp"
            min="0"
        ></a-input-number>
    </a-form-item>
    <a-form-item
        v-if="app.ipLimitEnable && client.limitIp > 0 && client.email && isEdit"
    >
        <template slot="label">
            <a-tooltip>
                <template slot="title">
                    <span>{{ i18n "pages.inbounds.IPLimitlogDesc" }}</span>
                </template>
                <span>{{ i18n "pages.inbounds.IPLimitlog" }} </span>
                <a-icon type="question-circle"></a-icon>
            </a-tooltip>
        </template>
        <a-tooltip>
            <template slot="title">
                <span>{{ i18n "pages.inbounds.IPLimitlogclear" }}</span>
            </template>
            <span :style="{ color: '#FF4D4F' }">
                <a-icon
                    type="delete"
                    @click="clearDBClientIps(client.email)"
                ></a-icon>
            </span>
        </a-tooltip>
        <a-form layout="block">
            <a-textarea
                id="clientIPs"
                readonly
                @click="getDBClientIps(client.email)"
                placeholder="Click To Get IPs"
                :auto-size="{ minRows: 5, maxRows: 10 }"
            >
            </a-textarea>
        </a-form>
    </a-form-item>
    <a-form-item v-if="inbound.canEnableTlsFlow()" label="Flow">
        <a-select
            v-model="client.flow"
            :dropdown-class-name="themeSwitcher.currentTheme"
        >
            <a-select-option value="" selected
                >{{ i18n "none" }}</a-select-option
            >
            <a-select-option v-for="key in TLS_FLOW_CONTROL" :value="key"
                >[[ key ]]</a-select-option
            >
        </a-select>
    </a-form-item>
    <a-form-item>
        <template slot="label">
            <a-tooltip>
                <template slot="title">
                    0 <span>{{ i18n "pages.inbounds.meansNoLimit" }}</span>
                </template>
                {{ i18n "pages.inbounds.totalFlow" }}
                <a-icon type="question-circle"></a-icon>
            </a-tooltip>
        </template>
        <a-input-number
            v-model.number="client._totalGB"
            :min="0"
        ></a-input-number>
    </a-form-item>
    <a-form-item v-if="isEdit && clientStats" label='{{ i18n "usage" }}'>
        <a-tag
            :color="ColorUtils.clientUsageColor(clientStats, app.trafficDiff)"
        >
            [[ SizeFormatter.sizeFormat(clientStats.up) ]] / [[
            SizeFormatter.sizeFormat(clientStats.down) ]] ([[
            SizeFormatter.sizeFormat(clientStats.up + clientStats.down) ]])
        </a-tag>
        <a-tooltip>
            <template slot="title"
                >{{ i18n "pages.inbounds.resetTraffic" }}</template
            >
            <a-icon
                type="retweet"
                @click="resetClientTraffic(client.email,clientStats.inboundId,$event.target)"
                v-if="client.email.length > 0"
            ></a-icon>
        </a-tooltip>
    </a-form-item>
    <a-form-item label='{{ i18n "pages.client.delayedStart" }}'>
        <a-switch
            v-model="delayedStart"
            @click="client._expiryTime=0"
        ></a-switch>
    </a-form-item>
    <a-form-item
        v-if="delayedStart"
        label='{{ i18n "pages.client.expireDays" }}'
    >
        <a-input-number
            v-model.number="delayedExpireDays"
            :min="0"
        ></a-input-number>
    </a-form-item>
    <a-form-item v-else>
        <template slot="label">
            <a-tooltip>
                <template slot="title"
                    >{{ i18n "pages.inbounds.leaveBlankToNeverExpire"
                    }}</template
                >
                {{ i18n "pages.inbounds.expireDate" }}
                <a-icon type="question-circle"></a-icon>
            </a-tooltip>
        </template>
        <a-date-picker
            v-if="datepicker == 'gregorian'"
            :show-time="{ format: 'HH:mm:ss' }"
            format="YYYY-MM-DD HH:mm:ss"
            :dropdown-class-name="themeSwitcher.currentTheme"
            v-model="client._expiryTime"
        ></a-date-picker>
        <a-persian-datepicker
            v-else
            placeholder='{{ i18n "pages.settings.datepickerPlaceholder" }}'
            value="client._expiryTime"
            v-model="client._expiryTime"
        ></a-persian-datepicker>
        <a-tag color="red" v-if="isEdit && isExpiry">Expired</a-tag>
    </a-form-item>
    <a-form-item v-if="client.expiryTime != 0">
        <template slot="label">
            <a-tooltip>
                <template slot="title"
                    >{{ i18n "pages.client.renewDesc" }}</template
                >
                {{ i18n "pages.client.renew" }}
                <a-icon type="question-circle"></a-icon>
            </a-tooltip>
        </template>
        <a-input-number v-model.number="client.reset" :min="0"></a-input-number>
    </a-form-item>

    <!-- MTProto Proxy: per-account settings. These are per CLIENT, not per inbound,
         because the proxy keys them off the authenticated secret rather than the
         socket, so one inbound can serve accounts with different modes and links. -->
    <template v-if="inbound.protocol === Protocols.MTPROTO">
        <a-divider>MTProto Proxy</a-divider>

        <a-form-item>
            <template slot="label">
                <a-tooltip>
                    <template slot="title">
                        The original obfuscated transport (no secret prefix). Widely
                        supported but the easiest for DPI to fingerprint. Off means the
                        proxy refuses this account's plain secret.
                    </template>
                    Classic Mode
                    <a-icon type="question-circle"></a-icon>
                </a-tooltip>
            </template>
            <!--
                Guarded rather than v-model: an account with every mode off cannot be
                dialed by anything, so the backend drops it from the proxy config
                entirely. Refusing the last one here (instead of warning after the
                fact) keeps that state unreachable. See the sibling switches.
            -->
            <a-switch
                :checked="client.modeClassic"
                @change="v => v || client.modeSecure || client.modeTls
                    ? client.modeClassic = v
                    : $message.warning(MTPROTO_LAST_MODE_WARNING)"
            ></a-switch>
        </a-form-item>

        <a-form-item>
            <template slot="label">
                <a-tooltip>
                    <template slot="title">
                        Random-padding mode ("dd" secret prefix). Hides packet-length
                        patterns from DPI.
                    </template>
                    Secure Mode (dd)
                    <a-icon type="question-circle"></a-icon>
                </a-tooltip>
            </template>
            <a-switch
                :checked="client.modeSecure"
                @change="v => v || client.modeClassic || client.modeTls
                    ? client.modeSecure = v
                    : $message.warning(MTPROTO_LAST_MODE_WARNING)"
            ></a-switch>
        </a-form-item>

        <a-form-item>
            <template slot="label">
                <a-tooltip>
                    <template slot="title">
                        FakeTLS ("ee" secret prefix): traffic looks like an ordinary
                        HTTPS session to the domain below. The most censorship-resistant
                        mode.
                    </template>
                    FakeTLS Mode (ee)
                    <a-icon type="question-circle"></a-icon>
                </a-tooltip>
            </template>
            <a-switch
                :checked="client.modeTls"
                @change="v => v || client.modeClassic || client.modeSecure
                    ? client.modeTls = v
                    : $message.warning(MTPROTO_LAST_MODE_WARNING)"
            ></a-switch>
        </a-form-item>

        <a-form-item v-if="client.modeTls">
            <template slot="label">
                <a-tooltip>
                    <template slot="title">
                        The domain this account's FakeTLS link impersonates, encoded into
                        its ee secret. Pick a real, reachable HTTPS site that is plausible
                        for the user and not itself blocked. Changing it invalidates the
                        ee link already handed out.
                    </template>
                    FakeTLS Domain
                    <a-icon type="question-circle"></a-icon>
                </a-tooltip>
            </template>
            <a-input
                v-model.trim="client.tlsDomain"
                placeholder="www.google.com"
            ></a-input>
        </a-form-item>

        <a-form-item>
            <template slot="label">
                <a-tooltip>
                    <template slot="title">
                        Max simultaneous client IPs for this account, enforced by the
                        proxy itself (the excess connection is refused). 0 means no
                        limit. Named for what it counts: devices sharing one IP behind
                        NAT count as one, so this caps addresses, not devices.
                    </template>
                    IP Limit
                    <a-icon type="question-circle"></a-icon>
                </a-tooltip>
            </template>
            <a-input-number
                v-model.number="client.userLimit"
                :min="0"
                :max="64"
            ></a-input-number>
        </a-form-item>

        <a-form-item>
            <template slot="label">
                <a-tooltip>
                    <template slot="title">
                        Promote a sponsored channel for this account with a tag from
                        @MTProxybot. Read the warning before enabling: it turns Xray
                        routing off for every account on this inbound.
                    </template>
                    Ad Tag
                    <a-icon type="question-circle"></a-icon>
                </a-tooltip>
            </template>
            <a-switch v-model="client.adtagEnable"></a-switch>
        </a-form-item>

        <a-alert
            v-if="client.adtagEnable"
            type="warning"
            show-icon
            :style="{ marginBottom: '16px' }"
            message="Ad Tag turns off Xray routing for the WHOLE inbound"
            description="An ad tag only counts if traffic goes through Telegram's middle-proxy relays, and that path is a property of the proxy process, not of one account. So enabling it here also stops every OTHER account on this inbound from being routed through Xray: they all egress directly from this server instead. Telegram derives the middle-proxy key from this server's own outgoing IP and port, which any proxied egress would change. Everything else (usage, quota, IP Limit, per-account modes) works the same either way."
        ></a-alert>

        <a-form-item v-if="client.adtagEnable" label="Ad Tag">
            <a-input
                v-model.trim="client.adtag"
                placeholder="32 hex characters from @MTProxybot"
            ></a-input>
        </a-form-item>

        <a-form-item>
            <template slot="label">
                <a-tooltip>
                    <template slot="title">
                        Hand out links pointing at a relay/CDN host:port instead of this
                        server's own address. Affects this account's links only; the proxy
                        itself is unchanged.
                    </template>
                    External Proxy
                    <a-icon type="question-circle"></a-icon>
                </a-tooltip>
            </template>
            <a-switch
                :checked="Array.isArray(client.externalProxy) && client.externalProxy.length > 0"
                @change="v => client.externalProxy = v ? [{ dest: window.location.hostname, port: inbound.port, remark: '' }] : []"
            ></a-switch>
            <a-button
                icon="plus"
                v-if="Array.isArray(client.externalProxy) && client.externalProxy.length > 0"
                type="primary"
                size="small"
                :style="{ marginLeft: '10px' }"
                @click="client.externalProxy.push({ dest: '', port: inbound.port, remark: '' })"
            ></a-button>
        </a-form-item>

        <!--
            Rows sit OUTSIDE a-form-item on purpose: this form is label-col 8 /
            wrapper-col 14, so a labelled row would squeeze three controls into 14/24
            of the modal. Mirrors form/stream/external_proxy.html, including the minus
            button in addonAfter: a bare a-button is not a valid a-input-group compact
            child in antd-vue 1.7.8 and renders at the wrong height, unaligned.
        -->
        <a-input-group
            compact
            :style="{ margin: '8px 0' }"
            v-for="(row, index) in (client.externalProxy || [])"
            :key="index"
        >
            <a-input
                :style="{ width: '40%' }"
                v-model.trim="row.dest"
                placeholder='{{ i18n "host" }}'
            ></a-input>
            <a-tooltip title='{{ i18n "pages.inbounds.port" }}'>
                <a-input-number
                    :style="{ width: '20%' }"
                    v-model.number="row.port"
                    min="1"
                    max="65535"
                ></a-input-number>
            </a-tooltip>
            <a-input
                :style="{ width: '35%', top: '0' }"
                v-model.trim="row.remark"
                placeholder='{{ i18n "remark" }}'
            >
                <template slot="addonAfter">
                    <a-button
                        icon="minus"
                        size="small"
                        @click="client.externalProxy.splice(index, 1)"
                    ></a-button>
                </template>
            </a-input>
        </a-input-group>
    </template>
</a-form>
{{end}}
